name: VirtualLeaf compile, clean, and package for macOS

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '5.15.2' # Specify the required Qt version
        host: 'mac'
        target: 'desktop'

    - name: Configure Project with qmake
      run: |
        cd src
        qmake VirtualLeaf.pro

    - name: Build Project
      run: |
        cd src
        make

    - name: Package Project
      uses: actions/upload-artifact@v4
      with:
        name: VirtualLeaf
        path: |
          ${{ github.workspace }}/bin/**/*
          ${{ github.workspace }}/data/**/*

